body {
    background: #222;
}
.logo {
    font-family: 'Bungee', cursive;
    margin-left: 20px;
}

.catapult {
    position: absolute;
    width: 100%;
}
.parallax-container {
    height: 450px;
}
.play-catapult {
    font-family: 'Shrikhand', cursive;
}
.startBtn {
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 40px;
    font-family: Arial;
    font-weight: bold;
    border-radius: 100px;
    background-color: #00695c;
}
.slider .indicators .indicator-item.active {
    display: none;
}
.score {
    float: left;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: gray;
}
canvas {
    width: 800px;
    height: 600px;
}
.directions {
    margin-right: 60px;
    margin-top: 37px;
    float: right;
    font-size: 25px;
}
